body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: #bcbcbc;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}


.App {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.header {
   background-color: #fab005;
   font-size: 30px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   padding: 15px;
   color: #333;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header span {
   padding: 10px;
   font-weight: 600;
}

.search-input {
   border: none;
   border-radius: 3px 0 0 3px;
   font-size: 28px;
   padding: 3px 9px;
   outline: none;
}


.search-btn {
   border: none;
   border-radius: 0 3px 3px 0;
   font-size: 28px;
   padding: 3px 8px;
   background-color: #999;
   color: whitesmoke;
   cursor: pointer;
}

.search-btn:hover {
   opacity: 0.9;
}

.meal-container {

   /* flex: 1; */
   display: flex;

   /* margin-bottom: 30px; */
   /* padding-bottom: 20px; */
   overflow-y: scroll;


}

.meal-list {
   flex: 1;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 40px;
   padding: 40px;
   font-size: 40px;
   font-weight: 700;
}

.side-bar {
   /* background-color: blue;
   width: 100px; */
}

.meal {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   background-color: #fab005;
   height: 340px;
   width: 200px;

   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   text-align: center;
}

.meal:hover {
   transform: translateY(-5px);
   transition: 0.3s ease-in-out;
}

.meal-img {
   width: 200px;
   border-radius: 5px 5px 0 0;
}

.meal h3 {
   font-size: 20px;
   color: #333;
   margin: 5px;

   overflow: hidden;
}

.meal-actions {
   font-size: 30px;
   width: 80px;
   display: flex;
   justify-content: space-around;
   padding-bottom: 10px;
}

.meal-actions a {
   text-decoration: none;
}

.footer {
   background-color: #111;
   color: whitesmoke;
   text-align: center;
   padding: 4px;
   margin-top: 20px;
}